body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}
.m-2 {
  margin: .5rem;
}
.mb-2 {
  margin-bottom: .5rem;
}
.p-2 {
  padding: .5rem;
}
.bg-primary {
  background: #5b9bd5;
}
.container {
  clear: both;
  display: block;
  width: 100%;
}
.sidebar {
  float: left;
  width: 27%;
  margin-bottom: .5rem;
  min-height: 600px;
}
.content {
  float: right;
  width: 70%;
  margin-bottom: .5rem;
  min-height: 600px;
}
.footer {
  clear: both; 
}